body {
  background-image: url("../public/background.png");
  background-size: cover;
}

.container {
  float: right;
  width: 250px;
  height: max-content;
  margin-right: -285px;
  /* background-color: #ebebeb; */
  padding: 20px 15px;
  margin-top: 150px;
  border-radius: 7px;
  font-family: sans-serig;
  /* box-shadow: 10px 11px rgba(0, 0, 0, 0.7); */
}

@font-face {
  font-family: FontAquire;
  src: url(../public/AquireBold.otf);
}

.titulo {
  margin-right: 250px;
  margin-top: -50px;
  float: right;
  font-size: 25px;
  text-align: left;
  color: #0059ff;
  font-family: FontAquire;
  /* position: absolute; */
  padding-top: 100px;
}

.titulo-login {
  margin-right: 400px;
  margin-top: -25px;
  float: right;
  font-size: 25px;
  text-align: left;
  color: #0059ff;
  font-family: FontAquire;
  /* position: absolute; */
  padding-top: 100px;
}

.Login-form {
  padding: 5px;
}

.form-field {
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
  margin-top: 20px;
  width: 300px;
  border-color: #347deb;
  border-width: 3px;
  box-shadow: 0 0 8px 0 #1b6af2;

}

.form-field:focus {
  border-color: #1737e8;
  border-width: 3px;
  box-shadow: 0 0 15px 0 #17c5e8;
}

.form-error {
  display: block;
  color: red;
  font-size: 0.9em;
  font-weight: 600;
}

.button {
  margin-top: 20px;
  padding: 12px 12px;
  background-color: #1779e8;
  border-radius: 10px;
  border: none;
}

p {
  margin: 0;
  color: #FFF;
  font-weight: 600;
  font-size: 15px;
}

.button:hover {
  box-shadow: 0 0 15px 0 #17c5e8;
}

.Dont-have-account{
  float: right;
  margin-top: 620px;
  margin-right: -300px;
}

.criarConta{
  color:#bababa;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.cadastrar{
  color: #1779e8;
  font-weight: "600";
  padding-left: 5px;
  font-size: 1.1rem;
}


.container-login{
  float: right;
  width: 250px;
  height: max-content;
  margin-right: -260px;
  /* background-color: #ebebeb; */
  padding: 20px 15px;
  margin-top: 150px;
  border-radius: 7px;
  font-family: sans-serig;
  /* box-shadow: 10px 11px rgba(0, 0, 0, 0.7); */
}